**pycache**/
*.py[cod]
*$py.class
*.so

# Virtual environments

venv/
env/
ENV/
.venv/
.python-version

# Pip / Poetry

pip-log.txt
pip-delete-this-directory.txt
poetry.lock

.ipynb_checkpoints
*.nbconvert.ipynb

datasets/
Dataset/
Datasets/
*.csv
*.tsv
*.json
*.h5
*.hdf5
*.npz
*.npy
*.parquet
*.feather
*.pkl

weights/
Model_Weights/
models/
*.pt
*.pth
*.ckpt
*.onnx
*.pb
*.tflite
*.joblib
*.bin

wandb/
mlruns/
tensorboard/
runs/
lightning_logs/

events.out.tfevents.*

logs/
*.log
*_log.txt
outputs/
results/
predictions/
submissions/

.DS_Store
Thumbs.db

.vscode/
.idea/

.cache/
*.cache

*.zip
*.tar
*.tar.gz
*.rar
*.7z

musdb18hq/